/* Container principale per le applicazioni */
.applications-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

/* Titolo della pagina */
.page-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 1px; /* Spaziatura tra le lettere */
}

/* Contenitore per la barra di ricerca e i dropdown */
.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center; /* Allinea verticalmente al centro */
}

/* Barra di ricerca */
.search-bar {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Icona per cancellare la ricerca */
.clear-search-icon {
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.clear-search-icon:hover {
  color: #f00;
}

/* Dropdown per i filtri */
.filter-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

/* Lista delle applicazioni */
.applications-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Singola applicazione */
.application-item {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 15px;
  transition: box-shadow 0.3s;
  position: relative; /* Necessario per posizionare il pulsante assolutamente */
}

.application-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Dettagli dell'applicazione */
.application {
  position: relative;
}

.application-id {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  color: #007BFF;
}

.application-title {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.application-description,
.application-location {
  margin: 5px 0;
  color: #666;
}

/* Pulsante di eliminazione */
.delete-app-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: lightcoral; /* Colore rosso */
  color: #fff;
  border: none; /* Rimuove il bordo */
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-app-button:hover {
  background-color: #d00; /* Colore rosso scuro per hover */
}

/* Paginazione */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* Bottoni di paginazione */
.pagination button {
  padding: 10px 15px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
  background-color: #0056b3;
}

.pagination span {
  font-size: 1em;
  color: #333;
}
/* Stile per il pulsante Edit */
.status-edit-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.edit-status-button {
  background-color: mediumpurple; /* Colore blu per Edit */
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.edit-status-button:hover {
  background-color: #0056b3; /* Cambio colore al passaggio del mouse */
}

/* Generale per la scheda */
.user-info-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  margin-top: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Titolo della scheda */
.user-info-card h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.25em;
}

/* Informazioni utente */
.user-info-card p {
  margin: 4px 0;
  line-height: 1.5;
}

/* Bottone di download del CV */
.download-cv-button {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.download-cv-button:hover {
  background-color: #0056b3;
}


/* CV download */
.cv-download {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.cv-download mat-icon.cv-icon {
  font-size: 24px;
  margin-right: 8px;
  color: #007bff;
  vertical-align: middle; /* Allinea verticalmente al centro */
}

.cv-download a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  vertical-align: middle; /* Allinea verticalmente al centro */
}

.cv-download a:hover {
  text-decoration: underline;
}
.cv-not-uploaded {
  color: lightcoral; /* Colore rosso per attirare l'attenzione */
  font-style: italic; /* Stile corsivo */
  margin-top: 10px; /* Spazio superiore */
  text-decoration: underline; /* Sottolinea il testo */

}
