<div class="applications-container">
  <h1 *ngIf="role === 'CANDIDATE'" class="page-title">My Applications</h1>
  <h1 *ngIf="role === 'COMPANY'" class="page-title">Applications to your job offers</h1>

  <div class="search-container">
    <!-- Barra di ricerca e dropdown -->
    <input type="text" placeholder="Search..." [(ngModel)]="searchText" (input)="applySearch()" class="search-bar" />
    <span class="clear-search-icon" *ngIf="searchText" (click)="clearSearchText()">
      <mat-icon>highlight_off</mat-icon>
    </span>
    <select [(ngModel)]="filterCriteria" class="filter-dropdown" (change)="applySearch()">
      <option value="id">ID</option>
      <option value="jobOfferTitle">Job Offer Title</option>
      <option value="location">Location</option>
      <option value="company" *ngIf="role === 'CANDIDATE'">Company</option>
    </select>

    <select [(ngModel)]="statusFilter" class="filter-dropdown" (change)="applySearch()">
      <option value="">All Statuses</option>
      <option value="pending">Pending</option>
      <option value="accepted">Accepted</option>
      <option value="rejected">Rejected</option>
    </select>
  </div>

  <ng-container *ngIf="myFilteredApplications.length > 0; else noApplications">
    <ul class="applications-list">
      <li *ngFor="let application of myFilteredApplications" class="application-item">
        <div class="application">
          <div class="application-id">#{{ application.id }}</div>
          <h2 class="application-title">{{ application.jobOffer.title }}</h2>
          <p class="application-description">{{ application.applicationDate | date }}</p>
          <p class="application-location">Status: {{ application.status }}</p>
          <p class="job-offer-description">{{ application.jobOffer.description }}</p>
          <p class="job-offer-location">Location: {{ application.jobOffer.location }}</p>
          <p class="job-offer-company">Company: {{ application.jobOffer.company.name }}</p>

          <ng-container *ngIf="role === 'CANDIDATE'">
            <button class="delete-app-button" (click)="deleteApplication(application.id)">Delete</button>
          </ng-container>

          <ng-container *ngIf="role === 'COMPANY'">
            <div class="user-info-card">
              <mat-icon class="profile-icon">person</mat-icon>
              <h3>User Information</h3>
              <a (click)="navigateToProfile(application.userInformation.email)" class="candidate-name">
               <u> {{ application.userInformation?.firstName }} {{ application.userInformation?.lastName }}</u>
              </a>
              <p><strong>Last Name:</strong> {{ application.userInformation?.lastName }}</p>
              <p><strong>Phone:</strong> {{ application.userInformation?.phone }}</p>
              <p><strong>Address:</strong> {{ application.userInformation?.address }}</p>
              <ng-container *ngIf="application.userInformation?.cvBase64; else noCV">
                <div class="cv-download">
                  <mat-icon class="cv-icon">description</mat-icon>
                  <a [href]="'data:application/pdf;base64,' + application.userInformation.cvBase64" download="CV.pdf">CV</a>
                </div>
              </ng-container>
              <ng-template #noCV>
                <p class="cv-not-uploaded">CV not uploaded by Candidate</p>
              </ng-template>
            </div>
            <div class="status-edit-container">
              <button class="edit-status-button" (click)="openStatusDialog(application)">
                Action
              </button>
            </div>
          </ng-container>
        </div>
      </li>
    </ul>

    <!-- Paginazione -->
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 0">Previous</button>
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Next</button>
    </div>
  </ng-container>

  <!-- Nessuna applicazione disponibile -->
  <ng-template #noApplications>
    <p>No Applications Available</p>
  </ng-template>
</div>
