<div class="notifications-container">
  <h2 class="notifications-title">Notifications</h2>


  <ng-container *ngIf="notifications.length>0; else noNotifications">
    <ul class="notification-list">
      <li *ngFor="let notification of notifications" class="notification-item">
        <div class="notification">
          <div class="notification-header">
            <span class="notification-type">{{ notification.type }}</span>
            <span class="notification-created-at">{{ notification.createdAt | date }}</span>
          </div>
          <div class="notification-message">{{ notification.message }}</div>
          <div class="notification-actions">
            <button class="mark-as-read-button" *ngIf="!notification.isRead" (click)="markAsRead(notification)">Mark as Read</button>
          </div>
        </div>
      </li>
      <li *ngIf="notifications.length === 0" class="no-notifications">
        No notifications available.
      </li>
    </ul>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 0">Previous</button>
    <span>Page {{currentPage + 1}} of {{totalPages}}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Next</button>
  </div>
  </ng-container>

  <ng-template #noNotifications>
    <p>No Incoming Notification, have a good day!</p>
  </ng-template>
</div>
