<body>
<form [formGroup]="form" (ngSubmit)="register()" class="register-form">
  <img src="assets/images/company.png" alt="Workwise Logo">

  <div class="form-group">
    <label for="name">Company Name:</label>
    <input id="name" formControlName="name" type="text" class="form-control" placeholder="Company Name">
    <div *ngIf="isFieldInvalid('name')" class="error-message">Company Name is required.</div>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" class="form-control" placeholder="Email">
    <div *ngIf="isFieldInvalid('email')" class="error-message">Please enter a valid email address.</div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" class="form-control" placeholder="Password">
    <div *ngIf="isFieldInvalid('password')" class="error-message">Password is required.</div>
  </div>

  <div class="form-group">
    <label for="phone">Phone:</label>
    <input id="phone" formControlName="phone" type="text" class="form-control" placeholder="Phone" (keydown)="onKeyDown($event)">
    <div *ngIf="isFieldInvalid('phone')" class="error-message">Phone must contain only digits.</div>
  </div>

  <div class="form-group">
    <label for="address">Address:</label>
    <input id="address" formControlName="address" type="text" class="form-control" placeholder="Address">
    <div *ngIf="isFieldInvalid('address')" class="error-message">Address is required.</div>
  </div>

  <div class="form-group">
    <label for="website">Website:</label>
    <input id="website" formControlName="website" type="text" class="form-control" placeholder="Website">
    <div *ngIf="isFieldInvalid('website')" class="error-message">Website is required.</div>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" class="form-control" placeholder="Description"></textarea>
    <div *ngIf="isFieldInvalid('description')" class="error-message">Description is required.</div>
  </div>

  <button type="submit" class="register-button">Register</button>
  <div class="home-button-container" (click)="goHome()">
    <mat-icon class="home-icon">home</mat-icon>
  </div>
</form>
</body>
