<body>
<form [formGroup]="form" (ngSubmit)="login()" class="login-form">
  <img src="assets/images/login.png" alt="Workwise Logo">

  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="login-button">Login</button>
  <!-- Icona della casetta per tornare alla home -->
  <div class="home-button-container" (click)="goHome()">
    <mat-icon class="home-icon">home</mat-icon>
  </div>
</form>
</body>
