<div class="container">
  <div class="content">
    <div class="animation-container">
      <h1>Welcome to Workwise</h1>
      <p>This is our fantastic job platform!</p>
      <img src="assets/images/home.png" alt="Workwise Logo">
      <div class="account-type">
        <nav>
          <a href="/register-as-a-company">Register as a Company</a>
          <a href="/register-as-a-candidate">Register as a Candidate</a>
          <a href="/login">Login</a>
          <span></span>
        </nav>
      </div>
    </div>
  </div>
</div>
